@model University_Management_System.Models.Course

@{
    ViewBag.Title = "Save";

    dynamic departmentList = ViewBag.depertments;
    dynamic semesterList = ViewBag.semesters;

    string message = ViewBag.message;
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Add Course</h2>
        
    
        <hr />
        <div style="padding-left: 200px">
            <label>
                @message
            </label>
        </div>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Credit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Credit , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Credit)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.Department, new SelectList(departmentList, "value", "Text"), new { @class = "form-control" })

            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Semester, new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.Semester, new SelectList(semesterList, "value", "Text"), new { @class = "form-control" })

            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" width="50" value="Save" class="btn btn-default" />
            </div>
        </div>
        
        
       

    </div>
    
    
}


<style>
    .field-validation-error {
        color: red;
    }
</style>



<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>