@model University_Management_System.Models.Result

@{
    ViewBag.Title = "SaveResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lisOfStudentRegNo = ViewBag.GetallStudent;
    var listOfGrade = ViewBag.GetAllGrade;
   
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-2.2.3.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  





}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Save Result</h2>
        <hr />
        <div class="form-group">
            <label>
                @ViewBag.message
            </label>
        </div>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.StudentId, new SelectList(lisOfStudentRegNo, "Id", "RegNo"), "--Select--", new { id = "StudentId", @class="form-control" })               
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Department, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownList("CourseId", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", " Name"), new { id = "CourseId", @class="form-control"})
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GradeId ,new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.GradeId, new SelectList(listOfGrade, "Id", "GradeName"), "--Select--", new { id = "GradeId", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GradeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>              

    </div>
}



<script>
    $(document).ready(function () {

        $("#StudentId").change(function () {

            jQuery("#Name").prop("disabled", true);
            jQuery("#Email").prop("disabled", true);
            jQuery("#Department").prop("disabled", true);

            var id = $("#StudentId").val();

            var json = { id: id };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetStudentCourseById", "StudentResult")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);

                    var select = $("#CourseId");
                    select.empty();
                    $("#CourseId").append('<option>-- Select Course --</option>');
                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');

                    });

                }
            });
        });



        $("#StudentId").change(function () {


            var id = $("#StudentId").val();
            $("#Name").empty();
            $("#Email").empty();
            $("#Department").empty();
            var json = { id: id };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetStudentById", "EnrollStudentCourse")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {
                    //alert(data);

                    $("#Name").val(data.Name);
                    $("#Email").val(data.Email);
                    $("#Department").val(data.Department.Code);

                }
            });
        });





    });
</script>



