@model University_Management_System.Models.Department

@{
    ViewBag.Title = "Save";
}



@using (Html.BeginForm())
{
    
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3>Add Department</h3>
        
            <hr />
            <div style="padding-left: 200px">
                <label>
                    @ViewBag.Message
                </label>
            </div>

            @Html.ValidationSummary(true)
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Code, new {@class = "form-control"})
                        </div>
                        <div class="col-md-3">
                            @Html.ValidationMessageFor(model => model.Code)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                </div>
                    

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
                   

</fieldset>

   

        </div>
}



<style>
    .field-validation-error {
        color: red;
    }
</style>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>